@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Are+You+Serious&family=Butterfly+Kids&family=Fuzzy+Bubbles:wght@400;700&family=Lato:wght@100;300;400;700;900&display=swap");
.red {
  color: #ef4348;
}

.blue {
  color: #37bfc1;
}

.white {
  color: #fcfcfb;
}

.bottle-green {
  color: #0e6d4d;
}

.castle-green {
  color: #145840;
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.container-fluid {
  padding: 20px;
}

.blue-bg {
  background-color: #37bfc1;
}

footer {
  background: #37bfc1;
  margin-top: 20px;
}

body {
  width: 100%;
}

h1 {
  width: 50%;
  margin: 5vh auto;
  padding: 20px;
  text-align: center;
}

h1.heading {
  color: #0e6d4d;
  font-size: 2.75rem;
  font-family: "Luckiest Guy", cursive;
  -webkit-text-stroke: 1px white;
}

form {
  margin: 0 auto;
  text-align: center;
  width: 55%;
}

a {
  color: #0e6d4d;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.trans-panel {
  background-color: rgba(55, 191, 193, 0.6);
  color: #fcfcfb;
}

.btn-primary {
  color: #fff;
  background-color: #145840;
  border-color: #145840;
}

.btn-primary:hover {
  color: #fcfcfb;
  background-color: #0e6d4d;
  border-color: #0e6d4d;
}

div.dear-santa {
  background-image: url("../images/dearSanta.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}

.letter-background2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 24px;
  font-weight: 700;
  color: #fcfcfb;
}

.letter-to-santa1 {
  background-image: url("../images/snowman.jpg");
  
}

.letter-background2 {
  background-image: url("../images/balls2.jpg");
  height: 700px;
  max-width: 95%;
}

form.letter {
  height: 80vh;
  overflow: scroll;
  width: 40%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.letter::-webkit-scrollbar {
  display: none;
}

/* clock */
.clock {
  height: 60px;
  font-family: "Mountains of Christmas", cursive;
  font-size: 2.5em;
  text-align: center;
  background: #fcfcfb;
  opacity: 0.9;

  animation-name: clock;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/* profile */
.profile {
  background-color: #37bfc1
}

@keyframes clock {
  0% {
    transform: translate(-100vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* glittery letters taken from here https://monsterspost.com/20-codepens-to-give-christmas-mood-to-your-website/ */
.clock-blue {
  color: #035ee2;
  background: -webkit-linear-gradient(transparent, transparent),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/blue_glitter.gif)
      repeat;
  background: -o-linear-gradient(transparent, transparent) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  margin: 0;
  padding: 0;
  width: 100%;
  letter-spacing: 1px;
  z-index: 999999;
}

.clock-gold {
  color: gold;
  background: -webkit-linear-gradient(transparent, transparent),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/gold_glitter.gif)
      repeat;
  background: -o-linear-gradient(transparent, transparent) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  margin: 0;
  padding: 0;
  width: 100%;
  letter-spacing: 1px;
  z-index: 999999;
  -webkit-background-clip: text;
}

.bg-dark {
  background-color: #37bfc1 !important;
}

.navbar{
  padding-bottom: 0!important;
}

.navbar-dark .navbar-brand {
  color: #ef4348;
  font-size: 3rem;
  font-family: "Luckiest Guy", cursive;
  -webkit-text-stroke: 1px white;

  text-shadow: 2px 2px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #ef4348;
  font-size: 2rem;
  font-family: "Luckiest Guy", cursive;
  -webkit-text-stroke: 1px white;
  text-decoration: underline;

  text-shadow: 2px 2px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ef4348;
  font-size: 2rem;
  font-family: "Luckiest Guy", cursive;
  -webkit-text-stroke: 1px white;
}

.navbar-brand {
  margin-top: 15px;
}

.navbar-brand.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
}

.navbar-toggler {
  background: #ef4348;
}

.navbar-brand:hover {
  color: white;
  text-shadow: 2px 2px 0 #ef4348, -1px -1px 0 #ef4348, 1px -1px 0 #ef4348,
    -1px 1px 0 #ef4348, 1px 1px 0 #ef4348;
}

.collapse{
  margin-top: 10px;
}

.login-text{
  font-size: 1.2rem;
  padding: 0!important;
  text-shadow: 2px 2px 0 #ef4348, -1px -1px 0 #ef4348, 1px -1px 0 #ef4348,-1px 1px 0 #ef4348, 1px 1px 0 #ef4348;
}

.login-text a{
  font-weight: 900;
  color: #fff;
  -webkit-text-stroke: 1px #972929;
  text-shadow: 2px 2px 0 #972929, -1px -1px 0 #972929, 1px -1px 0 #972929, -1px 1px 0 #972929, 1px 1px 0 #972929;
}

.login-text a:hover{
  text-decoration: none;
  color: #972929;
  -webkit-text-stroke: 1px white;
  text-shadow: 2px 2px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#santa-sleigh {
  height: 500px;
  display: flex;
  margin: auto;
  margin-top: 150px;
  overflow: hidden;
  position: relative;
  z-index: 800;

  animation-name: santa-sleigh;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes santa-sleigh {
  0% {
    transform: translate(100vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.intro-ps {
  color: #ef4348;
  font-size: 3rem;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff, 1px 1px 0 #fff;

  position: fixed;
  z-index: 500;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 75px;
  transform: scale(0.0000001);

  animation-name: intro-ps;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

@keyframes intro-ps {
  0% {
    transform: scale(0.0000001);
  }
  100% {
    transform: scale(1);
  }
}

/* Countdown */

#background {
  background: url("../images/moon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  width: 90%;
  position: relative;
}

.number,
.digit-1,
.digit-2,
.hourglass {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.number {
  width: 180px;
  height: 70%;
  left: 25%;
}

.digit-1 {
  width: 120px;
  height: 50%;
  left: 15%;
}

.digit-2 {
  width: 130px;
  height: 50%;
  left: 28%;
}

.hourglass {
    width: 100px;
    left: 28%;
    top: 60%;
}

#xmas-box,
#update {
  color: gold;
  line-height: 2;
  font-family: "Mountains of Christmas", cursive;
  letter-spacing: 5px;
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

#dev-names{
  display: flex;
  justify-content: space-evenly;
}

.tap-target{
  letter-spacing: 2px;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px 0 #972929, -1px -1px 0 #972929, 1px -1px 0 #972929, -1px 1px 0 #972929, 1px 1px 0 #972929;
}

.tap-target:hover{
  letter-spacing: 2px;
  color: #ef4348;
  font-size: 1.5rem;
  font-family: "Luckiest Guy", cursive;
  -webkit-text-stroke: 1px white;
}

#copyright{
  letter-spacing: 2px;
  color: #ef4348;
  font-size: 1.5rem;
  font-family: "Luckiest Guy", cursive;
  -webkit-text-stroke: 1px white;
}

#update {
    font-size: 1.5rem;
    left: 60%;
    margin-top: 50px;
}

#xmas-box {
    font-size: 4rem;
    left: 50%;
}

#login, #register{
  background: #58c6c8;
  border-radius: 25px;
  border: #314a4b dotted;
  padding-bottom: 10px;
  letter-spacing: 2px;
  color: #fff;
  font-size: 2.5rem;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px 0 #314a4b, -1px -1px 0 #314a4b, 1px -1px 0 #314a4b, -1px 1px 0 #314a4b, 1px 1px 0 #314a4b;
}

.user-forms{
  background: #58c6c8;
  border-radius: 25px;
  border: #314a4b dotted;
  margin-bottom: 5vh;
}

.user-forms label{
  letter-spacing: 2px;
  color: #fff;
  font-size: 2rem;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px 0 #314a4b, -1px -1px 0 #314a4b, 1px -1px 0 #314a4b, -1px 1px 0 #314a4b, 1px 1px 0 #314a4b;
}

#remember-me label{
  font-size: 1.3rem;
}

#form-button{
  font-size: 1.7rem;
  padding: 10px 15px;

  letter-spacing: 2px;
  color: #fff;
  font-size: 2rem;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px 0 #314a4b, -1px -1px 0 #314a4b, 1px -1px 0 #314a4b, -1px 1px 0 #314a4b, 1px 1px 0 #314a4b;
}

#form-button input{
  background: white;
  color: #58c6c8;
  padding: 12px 20px 0;
  text-shadow: 2px 2px 0 #314a4b, -1px -1px 0 #314a4b, 1px -1px 0 #314a4b, -1px 1px 0 #314a4b, 1px 1px 0 #314a4b;
}

#form-button input:hover{
  background: white;
  color: #314a4b;
  padding: 12px 20px 0;
  text-shadow: 2px 2px 0 #58c6c8, -1px -1px 0 #58c6c8, 1px -1px 0 #58c6c8, -1px 1px 0 #58c6c8, 1px 1px 0 #58c6c8;
}

.user-forms p i{
  margin: 0 10px;
}

#switch-portal{
  letter-spacing: 2px;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px 0 #314a4b, -1px -1px 0 #314a4b, 1px -1px 0 #314a4b, -1px 1px 0 #314a4b, 1px 1px 0 #314a4b;
}

#switch-portal a{
  color: #fff;
  text-decoration: underline;
  text-shadow: 2px 2px 0 #314a4b, -1px -1px 0 #314a4b, 1px -1px 0 #314a4b, -1px 1px 0 #314a4b, 1px 1px 0 #314a4b;
}

#switch-portal a:hover{
  color: #314a4b;
  text-shadow: 2px 2px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#profile-name, #create-letter{
  font-family: "Luckiest Guy", cursive;
  color: #314a4b;
  text-shadow: 2px 2px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#profile-name{
  margin-bottom: 0;
}

#profile-delete{
  width: 25%;
  display: flow-root;
  margin: 0 auto 3vh;
}

#edit-child-header{
  background: #58c6c8;
  border-radius: 25px;
  border: #314a4b dotted;
  padding-bottom: 10px;
  letter-spacing: 2px;
  color: #fff;
  font-size: 2.5rem;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px 0 #314a4b, -1px -1px 0 #314a4b, 1px -1px 0 #314a4b, -1px 1px 0 #314a4b, 1px 1px 0 #314a4b;
}

#edit-child-form{
  background: #58c6c8;
  border-radius: 25px;
  border: #314a4b dotted;
  margin-bottom: 5vh;
}

#edit-child-form p {
  letter-spacing: 2px;
  color: #fff;
  font-size: 2rem;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px 0 #314a4b, -1px -1px 0 #314a4b, 1px -1px 0 #314a4b, -1px 1px 0 #314a4b, 1px 1px 0 #314a4b;
}

#edit-child-form label{
  letter-spacing: 2px;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px 0 #314a4b, -1px -1px 0 #314a4b, 1px -1px 0 #314a4b, -1px 1px 0 #314a4b, 1px 1px 0 #314a4b;
}

#edit-child-btn{
  font-size: 1.7rem;
  padding: 10px 15px;

  letter-spacing: 2px;
  color: #fff;
  font-size: 2rem;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px 0 #314a4b, -1px -1px 0 #314a4b, 1px -1px 0 #314a4b, -1px 1px 0 #314a4b, 1px 1px 0 #314a4b;
}

#edit-child-btn input{
  background: white;
  color: #58c6c8;
  letter-spacing: 2px;
  padding: 12px 20px 0;
  text-shadow: 2px 2px 0 #314a4b, -1px -1px 0 #314a4b, 1px -1px 0 #314a4b, -1px 1px 0 #314a4b, 1px 1px 0 #314a4b;
}

#edit-child-btn input:hover{
  background: white;
  color: #314a4b;
  padding: 12px 20px 0;
  text-shadow: 2px 2px 0 #58c6c8, -1px -1px 0 #58c6c8, 1px -1px 0 #58c6c8, -1px 1px 0 #58c6c8, 1px 1px 0 #58c6c8;
}

/* Media Queries */

/* x-small screen size */
@media screen and (max-width: 576px) {
  .clock {
    font-size: 1.2rem;
    padding-top: 15px;
  }
}

/* small screen size */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .clock {
    font-size: 1.6rem;
    padding-top: 10px;
  }
}

/* medium screen size */
@media screen and (min-width: 768px) {
  form.letter-to-santa {
    width: 50%;
  }
}
/* large Screen Size */

@media screen and (max-width: 1400px) {
  .snow-bg {
    height: 800px;
  }
  #santa-sleigh {
    height: 400px;
  }
}
@media screen and (max-width: 1200px) {
  #nav-container{
    max-width: none!important;
  }
}
@media screen and (min-width: 1200px) {
  #nav-container{
    max-width: none!important;
  }
}
@media screen and (max-width: 1150px) {
  .navbar-brand {
    font-size: 2.2rem !important;
  }
  .snow-bg {
    height: 500px;
  }
  #santa-sleigh {
    height: 300px;
    margin-top: 100px;
  }
  .intro-ps {
    font-size: 2.5rem;
    margin-top: 25px;
  }
}
/* medium Screen Size */
@media screen and (max-width: 950px) {
  .intro-ps {
    font-size: 2rem;
  }
  .snow-bg {
    height: 490px;
  }
}
@media screen and (max-width: 900px) {
  .snow-bg {
    height: 450px;
  }
  #santa-sleigh {
    height: 250px;
    margin-top: 100px;
  }
}
@media screen and (max-width: 800px) {
  .intro-ps {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }
}
@media screen and (max-width: 700px) {
  .snow-bg {
    height: 415px;
  }
  #santa-sleigh {
    height: 225px;
    margin-top: 100px;
  }
  .intro-ps {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 600px) {
  .navbar-brand {
    font-size: 1.2rem !important;
  }
  .snow-bg {
    height: 400px;
  }
  #santa-sleigh {
    height: 300px;
    margin-top: 30px;
  }
  @keyframes santa-sleigh {
    0% {
      transform: translate(100vw, 0);
    }
    100% {
      transform: translate(-50vw, 0);
    }
  }
}
@media screen and (max-width: 550px) {
  .intro-ps {
    font-size: 1.2rem;
  }
  @keyframes santa-sleigh {
    0% {
      transform: translate(100vw, 0);
    }
    100% {
      transform: translate(-60vw, 0);
    }
  }
}
@media screen and (max-width: 500px) {
  @keyframes santa-sleigh {
    0% {
      transform: translate(100vw, 0);
    }
    100% {
      transform: translate(-70vw, 0);
    }
  }
}
@media screen and (max-width: 450px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }
  #login-text{
    font-size: 1rem;
  }
  .intro-ps {
    font-size: 1rem;
  }
  @keyframes santa-sleigh {
    0% {
      transform: translate(100vw, 0);
    }
    100% {
      transform: translate(-95vw, 0);
    }
  }
}
@media screen and (max-width: 400px) {
  @keyframes santa-sleigh {
    0% {
      transform: translate(100vw, 0);
    }
    100% {
      transform: translate(-105vw, 0);
    }
  }
}
@media screen and (max-width: 380px) {
  @keyframes santa-sleigh {
    0% {
      transform: translate(100vw, 0);
    }
    100% {
      transform: translate(-125vw, 0);
    }
  }
}
@media screen and (max-width: 330px) {
  #santa-sleigh {
    height: 100px;
    margin-top: 50px;
  }
  .navbar-brand{
    font-size: 1.2rem!important;
  }
}
@media screen and (max-width: 330px) {
  .py-5, .pt-5, .pb-5{
    padding: 1rem!important;
  }
  .clock{
    font-size: 1.2rem;
  }
  .dev-names{
    padding-top: 25px;
  }
  footer{
    margin: 0!important;
    padding: 0!important;
  }
  .snow-bg {
    height: 220px;
  }
  .intro-ps {
    margin-top: 20px;
    font-size: 1rem;
  }
  @keyframes santa-sleigh {
    0% {
      transform: translate(100vw, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
