{% extends "base.html" %}
{% block nav_countdown %}active{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-10 offset-md-1 text-center" id="background">
            <div id="number"></div>
            <div id="digit-1"></div>
            <div id="digit-2"></div>
            <div id="update"></div>
            <div id="merry-xmas"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/countdown.js')}}"></script>
{% endblock %}
