{% extends "base.html" %}
{% block nav_index %}active{% endblock %}
{% block content %}
    <div class="snow-bg">
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <div class="snow">❆</div>
        <p class="intro-ps">Get your letter into Santa before it is too late</p>
        <img id="santa-sleigh" src="static/images/santa-sleigh.png" alt="santas sleigh">
        <p class="intro-ps">Make this Christmas a Spectacular Experience </p>
{#    </div>#}
    <!-- /.row -->
{% endblock %}