{% extends "base.html" %}
{% block nav_index %}active{% endblock %}
{% block content %}
    <section class="container">
        <form class="letter-to-santa" method="POST" action="">
            {{ form.csrf_token }}
            <h1 class="dear-santa text-white">Dear Santa,</h1>
            <p class="text-white">
                {{ form.child_name.label }}
                {{ form.child_name(size=12, maxlength=10) }}.
            </p>
            <p class="text-white">
                {{ form.child_age.label }}
                {{ form.child_age }} years old.
            </p>
            <p class="text-white">
                {{ form.behaviour.label }}
                {{ form.behaviour }}
            </p>
            <p class="text-white">
                {{ form.present1.label }}
                {{ form.present1 }}
                {{ form.present2.label }}
                {{ form.present2 }}.
            </p>
            <p class="text-white">
                And I promise to leave out:
            </p>
            <p class="text-white">
                {{ form.milk }}
                {{ form.milk.label }}<br>
                {{ form.cookies }}
                {{ form.cookies.label }}
            </p>
            <p class="text-white">for you!</p>
            <p class="text-white">Merry Christmas, Santa!</p>
            <p class="text-white">
                {{ form.say_hi.label }}
                {{ form.say_hi }} for me!
            </p>
            <p class="text-white">
            <p>{{ form.submit() }}</p>
            </p>

        </form>
    </section>
{% endblock %}