{% extends "base.html" %}
{% block nav_login %}active{% endblock %}
{% block content %}
    <h1 id="login">Login</h1>
    <div class="container">
        <form class="user-forms" action="" method="post">
            {{ form.csrf_token }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p id="remember-me">
                {{ form.remember_me() }} {{ form.remember_me.label }}
            </p>
            <p id="form-button"><i class="fas fa-sign-in-alt"></i>{{ form.submit() }}</p>
            <p id="switch-portal">Not registered? Then please <a href="{{ url_for('register') }}">register here</a></p>
        </form>
    </div>
{% endblock %}