{% extends "base.html" %}
{% block nav_register %}active{% endblock %}
{% block content %}

<div>
    <h1>My profile</h1>
    {% if children|length < 1 %}
    <p style="color: white">Hi there! <br>
        Here you can add children, save, edit or delete their details and generate their letters to Santa.<br>
        Start by adding a child
    </p>
    <a href="{{ url_for('add_child') }}" class="btn btn-lg btn-warning">Add a child</a>
    {% else %}
        {% for child in children %}
        <h4>{{ child.name }}</h4>
        {% endfor %}
    {% endif %}
    

</div>

{% endblock %}