{% extends "base.html" %}
{% block nav_register %}active{% endblock %}
{% block content %}
    <h1>Register</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="alert-warning">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="" method="post">
        {{ form.csrf_token }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p id='childrenNo'>
            {% for subfield in form.childrenNo %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
            {% endfor %}
        </p>
        {% for n in range(1, 6) %}
            <div id="element{{n}}" class="d-none">
                {{ form.childsAge.label }} {{n }} <br>
                {{ form.childsAge(size=8) }}<br>
            
            </div>
        {% endfor %}
        <p>
            {{ form.remember_me() }} {{ form.remember_me.label }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <script>
        function addFields(){
          var childrenNo = document.getElementById('childrenNo:checked').value;
            if(childrenNo === 1){
                document.getElementById('element1').style.display = 'block';
            } else if(childrenNo === 2){
                document.getElementById('element1').style.display = 'block';
                document.getElementById('element2').style.display = 'block';
          }
        </script>
{% endblock %}